body{

}

.main {
   margin : 0 auto;

}

.main #sign_in_form{
    padding : 20px 40px 40px 40px;
    background-color: #EEE;
}

.main .home_page {
    padding : 75px;
}


@media (min-width: 1200px) {
    .main {
        width: 500px;
    }
}
@media (min-width: 992px) {
    .main {
        width: 500px;
    }
}
@media (max-width: 768px) {
    .main {
        width: 320px;
    }
}